[user]
	email = vampwillow@gmail.com
	name = Andy Marks
[push]
	default = matching
[core]
	autocrlf = input
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
